html {
	font-size: 13pt;
}

body {
	background-color: #fff;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.65;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 1rem 0;
}

body {
	background-color: #1e1f23;
	padding-top: 8rem;
}

body.is-loading:after {
	visibility: hidden;
	opacity: 0;
}

body:after {
	-moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	-webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	transition: opacity 1.5s ease-in-out, visibility 1.5s;
	content: '';
	background-image: url(../../images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	visibility: visible;
	opacity: 1;
}

#header {
	color: #a6a6a6;
	cursor: default;
	position: relative;
	text-align: center;
	z-index: 10001;
	margin: 0 0 4rem 0;
	padding: 0;
	font-size: 4rem;
	font-weight: 700;
	color: #FFF;
	text-decoration: none;
	line-height: 1rem;
}

body {
	padding-top: 6rem;
	background-attachment: scroll;
	background-size: auto;
	background-position: top;
}

#header > .logo {
	margin: 0 0 2rem 0;
}
#header > .logo a {
		font-size: 3rem;
}

#main > .inner {
	margin: 0 auto;
	width: 80rem;
	max-width: 90%;
	background: rgba(255, 255, 255, 0.95);
}

.wrapper > header {
	text-align: center;
	background: #FFF;
	padding: 2rem;
	margin: 0;
}

.wrapper > header.special {
	padding: 4rem 2rem;
}

.wrapper.style1 .content {
	padding: 6rem;
}

.sor{
	width:60px;
	height:20px;
}

.bot{
	border:2px blue none;
	background-color:transparent;
	background-image:url(../../images/button.png);
	background-size:100% 100%;
}

body{
	font-family : Microsoft JhengHei,DFKai-sb,monospace;
	font-weight:bold;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:left top;
	background-size:cover;
	background-image: url(../../images/background2.jpg);
	background-color: #ccc;
}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}

table.tablesorter thead tr .header {
	background-image: url(../../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../../images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(../../images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}